<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>
    <h1>Livros</h1>
    <a href="/livros/novo">Adicionar Novo Livro</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Gênero</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livro : ${livros}">
                <td th:text="${livro.id}"></td>
                <td th:text="${livro.titulo}"></td>
                <td th:text="${livro.autor}"></td>
                <td th:text="${livro.genero}"></td>
                <td th:text="${livro.ano}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
